**/__pycache__/
/data/
/checkpoints/
/save/
/pointnet2_ops_lib/build/
/pointnet2_ops_lib/pointnet2_ops.egg-info/
/PointRenderer/
/prepare_data/
/test.py
/main_partseg.py
/main_semseg.py
/visual.ipynb
/config/PartSeg.yaml
config/SemSeg.yaml
/requirements.txt
/models/curvenet_util.py
/models/CurveNet.py
/models/DGCNN.py
/models/DGFormer_v2.py
/models/DGFormer.py
/models/DGResMLP.py
/models/DGTR.py
/models/GDANet_util.py
/models/GDANet.py
/models/GraphFormer_v2.py
/models/GraphFormer.py
/models/SADG.py
/models/transformer.py
/models/walk.py
/models/PointFormer.py
