# the packages required to be installed in your current environment
# make sure that the version of hydra is 1.1

deepspeed==0.9.2
einops==0.6.1
h5py==3.8.0
hydra-core==1.1.0
scikit-learn==1.0.2
tensorboard==2.8.0
tqdm==4.65.0
warmup-scheduler==0.3
